<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="/data/logs/job" />
    <!--DEBUG级别日志-->
    <appender name="FILENAME"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/partner-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/job-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5p [%d][%mdc{mdc_userId}] %C:%L - %m %n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    <logger name="crm.mobvista.crm.mapper" level="DEBUG"></logger>
    <root level="debug">
        <appender-ref ref="FILENAME"/>
    </root>
</configuration>